<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO</title>
    <style>{% include 'includes/style.css' %}</style>
    <script>{% include 'includes/script.js' %}</script>
</head>
<body>
    <form method='post'>
        {% csrf_token %}
        <input name='todo' type="text" required>
        <input type='submit' value="Add">
    </form>
    <ol>
        <h1>Todo Items</h1>
        {% for i in Todo %}
        <li>
            {{i.todo}} <a href="{% url 'delete' i.id %}">Delete</a>
        </li>
        {% endfor %}
    </ol>
</body>
</html>